on:
  push:
    branches:
      - 'master'
env:
  PROG_NAME: scrpr.py

jobs:
  do-tests:
    runs-on: "ubuntu-latest"
    environment: test
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: pip install
      run: pip install -r requirements-test.txt

    - name: check bellybutton
      run: flake8

    - name: start postgres:14 container
      run: docker run -d -p5432:5432 -e POSTGRES_PASSWORD=${{ secrets.postgres_password }} postgres:14

    - name: setup database
      run: |
        sudo apt install -y postgresql-client-14
        cat <<EOF | PGPASSWORD=${{ secrets.postgres_password }} psql -h localhost -Upostgres 
          CREATE ROLE scrpr_test LOGIN;
          ALTER ROLE scrpr_test WITH PASSWORD '${{ secrets.scrpr_test_password }}';
          CREATE DATABASE scrpr_test WITH OWNER scrpr_test;
          GRANT ALL ON DATABASE scrpr_test TO scrpr_test;
        EOF
        PGPASSWORD=${{ secrets.scrpr_test_password }} psql -h localhost -Uscrpr_test -c 'SELECT 1;'

    - name: setup commection parameters
      run: |
        cat <<EOF | sed 's/ //g' > .env-test
          db_host=localhost
          db_port=5432
          db_user=scrpr_test
          db_password=${{ secrets.scrpr_test_password }}
          db_dbname=scrpr_test
        EOF

    - name: run tests
      run: pytest -s -v tests/

    - name: make sure we can get help
      run: python3 -m scrpr -h || /bin/true
        


